.container-exercise-form {
    height: 100%;
    padding: 1rem;
}

.container-exercise-form form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.col-exercise-form {
    width: 50%;
}

.field-exercise-form {
    margin-bottom: 1rem;
}

.field-exercise-form h1 {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.field-exercise-form input {
    padding-left: 12%;
    font-size: 1.1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 16px -4px rgba(66, 68, 90, 1);
}

.icons-exercise-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-exercise-form {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin: 1rem;
    min-width: 95px;
}

.icon-exercise-form label {
    text-align: center;
}

.icon-exercise-form input {
    margin-top: 5px;
}

.icon-exercise-form img {
    width: 100%;
}

.checkbox-exercise-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.btn-exercise-form {
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    background-color: rgb(231, 17, 85);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 0.5rem;
}



@media screen and (max-width:992px) {
    .container-exercise-form {
        width: 100%;
        min-width: 100%;
    }
}