.container-sidebar {
    height: 100%;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    font-family: var(--dash-font-family);
    color: white;
    width: 180px;
    transition: 0.5s ease all;
    background-color: var(--dash-main-color);
    z-index: 4;
}

.img-container-sidebar {
    width: 190px;
    height: 144px;
    padding: 20px 10px 0 10px;
}

.img-container-sidebar img {
    height: 100%;
    width: 100%;
}

nav.nav-sidebar {
    margin-top: 20%;
}

.parent-sidebar li {
    position: relative;
    padding: 17px 5px 17px 24px;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

nav.nav-sidebar ul li:nth-child(5) {
    margin-top: 90%;
}

.container-toggler-sidebar {
    padding: 2rem
}

.toggler-sidebar {
    margin: 1.9rem;
    padding: 0.4rem;
    border-radius: 6px;
    background-color: aliceblue;
    position: relative;
    display: none;
    cursor: pointer;
    color: var(--dash-main-color);
}

.off-toggler {
    pointer-events: none;
    background-color: transparent;
}

.show-sidebar {
    position: relative;
    min-width: 180px !important;
    overflow: auto;
}

.content-sidebar {
    overflow: hidden;
}

.z-index-sidebar {
    z-index: 2;
}

@media screen and (max-width: 992px) {
    .container-sidebar {
        position: absolute;
        width: 0;
        min-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .toggler-sidebar {
        display: block;
    }

    .show-sidebar::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        height: 100%;
        width: 10px;
        background-color: white;
        transform: translateX(-100%);
    }

    .off-toggler {
        pointer-events: none;
        display: none;
    }
}

@media screen and (max-width: 576px) {
    nav.nav-sidebar ul li:nth-child(5) {
        margin-top: 20%;
    }

    .off-toggler {
        pointer-events: none;
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 360px) {
    .toggler-sidebar {
        margin: 1.2rem;
        padding: 0.4rem;
    }
}

@media screen and (max-width: 475px) {
    nav.nav-sidebar {
        margin-top: 6%;
    }

    .parent-sidebar li {
        padding: 11px 5px 11px 24px;
    }
}
