.container-body-icon {
  /*   border: 1px solid orange; */
    width: 10%;
    height: 100%;
    min-width: 90px;
    cursor: pointer;
}

.container-body-icon h3 {
    margin-top: 6px;
    text-align: center;
}

.pic-body-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 70%;
    border-radius: 50%;
    margin: 0 auto;
    outline: 5px solid rgba(233, 95, 139, 0.5);
}
.pic-body-icon::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    opacity: 0.2;
    background-color: var(--dash-main-color);
}
.marked-body-icon{
    background-color: rgba(255, 173, 66, 0.959);
}