.dashboard-layout {
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, #fff, #076585);
}

.center-dashboard-layout {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.dimensions-dashboard-layout {
  display: flex;
  margin: 0 auto;
  height: 85vh;
  width: 90%;
  border-radius: 2rem;
  outline: 9px solid white;
  z-index: 1;
  overflow: hidden;
  max-width: 1750px;
}

.content-dashboard-layout {
  position: relative;
  background: linear-gradient(145deg,
      rgb(248, 247, 247) 0%,
      rgb(241, 241, 243) 120%);
  padding: 1rem;
  width: 100%;
  overflow: auto;
}
