.container-step-chart {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    width: auto;
}

.header-step-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    margin: var(--dash-margin-headers) 0;
}

.header-step-chart h2 {
    font-weight: var(--dash-font-weight);
    font-family: var(--dash-font-family);
    font-size: var(--dash-font-size);
    color: var(--dash-font-color);
}

.switch-step-chart {
    position: relative;
    display: flex;
    background-color: rgb(226, 226, 226);
    width: 160px;
    height: 35px;
    padding: 4px;
    border-radius: 0.8rem;
}

.switch-step-chart button {
    flex: 1;
    border: none;
    border-radius: 0.8rem;
    font-weight: 600;
    background-color: transparent;
    cursor: pointer;
}

.active-step-chart {
    background-color: var(--dash-main-color) !important;
    color: white;
}

.content-step-chart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    min-height: 80%;
    padding: 0.5rem;
    border: 1px solid rgb(204 204 210);
    border-radius: 1.5rem;
    flex-wrap: wrap;
    gap: 5px 17px;
    overflow: auto;
}

.bar-container-step-chart {
    width: 10%;
    min-width: 48px;
    max-width: 50px;
    max-height: 120px;
    min-height: 120px;
    height: 100%;
}

.bar-step-chart {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 85%;
    border-radius: 1rem;
    padding: 7px 6px;
}

.bar-step-chart::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: var(--dash-main-color);
    opacity: 0.1;
}

.progress-step-chart {
    position: relative;
    height: 10%;
    background-color: var(--dash-main-color);
    border-radius: 1rem;
}

.percent-step-chart {
    position: absolute;
    font-weight: 700;
    bottom: 100%;
    left: 34%;
    color: black;
    opacity: 0.6;
}

.position-static {
    position: static;
}

.position-flat {
    bottom: 72%;
}

.day-month-step-chart {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 15%;
    color: var(--dash-color-secondary);
    opacity: 0.7;
}

.error-step-chart {
    font-size: 0.8rem;
    text-align: center;
    color: rgb(235, 96, 140);
}

.gap-step-chart {
    gap: 5px 20px
}

@media screen and (max-width: 1600px) {
    .gap-step-chart {
        gap: 5px 33px
    }
}

@media screen and (max-width: 1400px) {
    .content-step-chart {
        padding: 1rem 15%;
    }

    .gap-step-chart {
        gap: 5px 58px
    }

    .bar-container-step-chart {
        min-width: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .gap-step-chart {
        gap: 5px 7%
    }
}

@media screen and (max-width: 992px) {
    .content-step-chart {
        padding: 1rem 13%;
    }
}

@media screen and (max-width: 772px) {
    .content-step-chart {
        padding: 1rem 2%;
    }
    .gap-step-chart {
        gap: 5px 7%
    }
}

@media screen and (max-width: 576px) {
    .content-step-chart {
        padding: 1rem 4%;
    }
    .gap-step-chart {
        gap: 5px 10%
    }
}

@media screen and (max-width: 370px){
    .content-step-chart {
        padding: 1rem 9%;
    }
    .gap-step-chart {
        gap: 6px 10%
    }
    .bar-container-step-chart {
        min-width: 47px;
    }
}
