.grid-dashboard {
  min-height: 100%;
  display: grid;
  grid-template-areas:
    "header header todo"
    "steps-chart next-training todo"
    "calories-chart next-training todo";
  grid-template-columns: 35% 50% 15%;
  grid-template-rows: auto auto 36%;
}

.header-dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 2rem;
  background-color: white;
  grid-area: header;
}

.todo-dashboard {
  grid-area: todo;
  padding: 1rem;
  border-radius: 2rem;
  background: linear-gradient(135deg, white, var(--dash-main-color))
}

.chart-steps-dashboard {
  border-radius: 2rem;
  padding: 1rem;
  background-color: white;
  max-width: 514px;
  grid-area: steps-chart;
}

.chart-calories-dashboard {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  padding: 1rem;
  grid-area: calories-chart;
  max-width: 514px;
  max-height: 280px;
}

.next-training-dashboard {
  background-color: rgb(255, 255, 255);
  border-radius: 2rem;
  grid-area: next-training;
  max-height: 668px;
}

@media screen and (max-width: 1650px) {
  .todo-dashboard {
    display: none
  }

  .grid-dashboard {
    grid-template-columns: 50% 50% 0%;
    grid-template-rows: 26% auto 36%;
  }
}
