.container-succesfully-added {
    position: fixed;
    top: 10%;
    left: 50%;
    min-height: 490px;
    min-width: 300px;
    transform: translateX(-50%);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    border-bottom: 4px solid rgba(230, 161, 34, 1);
    z-index: 3;
    background-color: rgb(255, 255, 255);
}
