@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Heebo:wght@500&display=swap');

.center-login-panel {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-login-panel {
    padding: 10px;
}

.icon-login-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

.form-login-panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.relative-login-panel {
    position: relative;
}

.relative-login-panel input {
    font-size: 1rem;
    margin: 10px auto;
    padding: 1rem 4.5rem 1rem 3.8rem;
    border-radius: 30px;
}

.checkbox-login-panel {
    color: white;
    width: 100%;
    margin-left: 4rem;
}

.remember-login-panel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px auto;
}

.remember-login-panel input {
    margin-right: 6px;
}

.absolute-login-panel {
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    color: rgb(204, 199, 199);
    font-size: 1.5rem;
}

.submit-login-panel {
    margin-top: 13px;
    font-size: 1.7rem;
    color: white;
    border: none;
    border-radius: 30px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.7rem 9.5rem;
    cursor: pointer;
    word-wrap: normal;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Heebo', sans-serif;
}

.links-login-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

.link-login-panel {
    margin-top: 4px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.link-login-panel:hover {
    color: rgb(109, 225, 233);
}

.error-login-panel {
    font-family: var(--dash-font-family);
    text-align: center;
    color: rgb(240, 64, 64);
}

@media (max-width: 576px) {
    .input-login-panel {
        font-size: 0.8rem;
    }

    .submit-login-panel {
        font-size: 25px;
        padding: 0.7rem 7rem;
    }

    .checkbox-login-panel {
        margin-left: 1rem;
    }
}
