.link-sidebar-tab {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: white;
}


.margin-sidebar-tab {
    margin-left: 5px;
}


.children-sidebar-tab li {
    list-style: circle !important;
    padding: 20px 8px 6px 10px !important;
    margin-left: 2.2rem !important;
}

.children-sidebar-tab {
    height: 0;
    overflow: hidden;
    transition: all ease 1s;
}

.show-sidebar-tab {
    height: auto;
}

.active-sidebar-tab {
    position: relative;
    background-color: white;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    color: rgb(73, 73, 204);
}

.children-active-sidebar-tab {
    position: relative;
    background-color: white;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    color: rgb(73, 73, 204);
}

.active-sidebar-tab::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-100%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 14px -14px 0px -8px white;
    pointer-events: none;
}

.active-sidebar-tab::before {
    content: '';
    position: absolute;
    top: -54px;
    left: 100%;
    transform: translateX(-100%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 14px 14px 0px -8px white;
    pointer-events: none;
}

.focus-sidebar-tab {
    color: rgb(73, 73, 204);
}

.icon-sidebar-tab {
    width: 25%
}

@media screen and (max-width: 992px) {
    .update-active::before {
        content: '';
        position: absolute;
        top: -54px;
        left: 94%;
        transform: translateX(-100%);
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 14px 14px 0px -8px white;
        pointer-events: none;
    }
    .update-active::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 94%;
        transform: translateX(-100%);
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 14px -14px 0px -8px white;
        pointer-events: none;
    }
}
