@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

:root {
  --dash-font-family: 'Noto Sans', sans-serif;
  --dash-secondary-font-family: 'Noto Sans', sans-serif;
  --dash-main-font-size: 25px;
  --dash-font-size: 22px;
  --dash-font-color: rgb(103, 76, 175);
  --dash-font-weight: bold;
  --dash-letter-spacing: 1px;
  --dash-color-secondary: #6562629c;
  --dash-main-color: rgb(113, 99, 186);
  --dash-margin-components: var(--margin);
  --dash-margin-headers: 0.5rem;
  --red-btn: rgb(231, 17, 85);
  --green-btn: #45e945;
  --secodnary-parts: #7388de;
  --performance-table: rgba(238, 174, 194, 0.5);
  --box-shadow: 0px 8px 37px -4px rgba(66, 68, 90, 1);
  --padding: 1rem;
  --margin: 1rem;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: rgb(236 236 236);
  font-family: var(--dash-font-family);
}

.in-progress {
  height: 100%;
  overflow: auto;
  background-color: white;
  border-radius: 2rem;
  padding: 1rem;
}

.in-progress h2 {
  font-size: 2.5rem;
  color: var(--dash-main-color)
}

.in-progress section {
  padding: 2rem 1rem;
}

.in-progress section h3 {
  font-size: 1.5rem;
}

.in-progress section p{
  font-weight: 400;
  font-size: 1.1rem;
}

.flex-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-justify-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-justify-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-justify-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex-direction-column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.shadow-inset {
  box-shadow: inset 0px 0px 8px -4px;
}

.noSelect {
  -webkit-tam-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.noSelect:focus {
  outline: none !important;
}

.hover-label {
  transform: scale(1);
}

.hover-label:hover {
  transform: scale(1.05)
}

.p-l {
  padding-left: var(--padding);
}

.p-r {
  padding-right: var(--padding);
}

.p-t {
  padding-top: var(--padding);
}

.p-b {
  padding-bottom: var(--padding);
}

.p-y {
  padding: var(--padding) 0;
}

.p-x {
  padding: 0 var(--padding);
}

.m-l {
  margin-left: var(--margin);
}

.m-r {
  margin-right: var(--margin);
}

.m-t {
  margin-top: var(--margin);
}

.m-b {
  margin-bottom: var(--margin);
}

.m-y {
  margin: var(--margin) 0;
}

.m-x {
  margin: 0 var(--margin);
}

@media screen and (max-width: 992px) {
  .in-progress section {
    padding: 5rem 0rem;
  }
  .in-progress h2{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 375px) {
  .in-progress h2{
    font-size: 1.2rem;
  }
}
