.container-ilustration-selection{
    height: 100%;
    width: 45%;
    border: 1px solid greenyellow;    
}

@media screen and (max-width:992px) {
    .container-ilustration-selection {
        width: 100%;
        min-width: 100%;
    }
}