.select-body-parts-container {
    height: 100%;
}

.select-body-parts {
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    min-height: 100%;
}
.pointer-none{
    pointer-events: none;
}