.flex-time{
    display: flex;
    padding: 5px;
    background-color: rgb(243, 243, 248);
    border-radius: 1rem;
}
div.flex-time span{
    font-size: 1rem;
    margin-right: 0.4rem;
    color: var(--dash-color-secondary);
}