@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/*
=============== 
Variables
===============
*/

:root {
    --dash-font-family: 'Noto Sans', sans-serif;
    --dash-secondary-font-family: 'Noto Sans', sans-serif;
    --dash-main-font-size: 25px;
    --dash-font-size: 22px;
    --dash-font-color: rgb(103, 76, 175);
    --dash-font-weight: bold;
    --dash-letter-spacing: 1px;
    --dash-color-secondary: #6562629c;
    --dash-main-color: rgb(113, 99, 186);
    --dash-margin-components: 1rem;
    --dash-margin-headers: 0.5rem;
    --red-btn: rgb(231, 17, 85);
    --green-btn: #45e945;
    --performance-table: rgba(238, 174, 194, 0.5);
    --box-shadow: 0px 8px 37px -4px rgba(66, 68, 90, 1);
}   


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: rgb(236 236 236);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: var(--dash-font-family);
}


.flex-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-justify-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-justify-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-justify-around {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.flex-direction-column {
    flex-direction: column;
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.noSelect:focus {
    outline: none !important;
}

.hover-label {
    transform: scale(1);
}

.hover-label:hover {
    transform: scale(1.05)
}
