@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Heebo:wght@500&display=swap');
.center-Login{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-Login{
    padding: 10px;
}
.center-icon-Login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}
.center-form-Login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.position-Login{
    position: relative;
}
.input-Login{
    font-size: 1rem;
    margin: 10px auto;
    padding: 1rem 4.5rem 1rem 3.8rem;
    border-radius: 30px;
}
.checkbox-Login{
    color: white;
    width: 100%;
    margin-left: 4rem;
}
.remember-Login{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 8px auto;
}
.remember-Login input{
    margin-right: 6px;
}
.positon-absolute-Login{
    position: absolute;
    top: 50%;
    left: 6%;
    transform: translateY(-50%);
    color: rgb(204, 199, 199);
    font-size: 1.5rem;
}
.submit-Login{
    margin-top: 13px;
    font-size: 1.7rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Heebo', sans-serif;
    color: white;
    border: none;
    border-radius: 30px;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 0.7rem 9.5rem;
    cursor: pointer;
    word-wrap: normal;
}
.container-links-Login{
    margin-top: 18px;
}
.link-Login{
    margin-top: 4px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.link-Login:hover{
    color: rgb(109, 225, 233);
}

@media (max-width: 576px) {
    .input-Login{
        font-size: 0.8rem;
    }
    .submit-Login{
        font-size: 25px;
        padding: 0.7rem 7rem;
    }
    .checkbox-Login{
        margin-left: 1rem;
    }
}