.container-succesfully-added {
    position: fixed;
    top: 10%;
    left: 50%;
    height: 60%;
    min-width: 250px;
    transform: translateX(-50%);
    border-radius: 3rem;
    border-top: 25px solid var(--dash-main-color);
    border-bottom: 4px solid var(--dash-main-color);
    z-index: 3;
    background-color: white;
    font-size: 0.9rem;
    z-index: 6;
}

.content-succesfully-added {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
}

.container-succesfully-added h2 {
    color: #8b8b8b;
    text-align: center;
}

.content-succesfully-added svg {
    color: #6edd6e;
}

.content-succesfully-added a {
    padding: 0.5rem 1rem;
    background-color: var(--dash-main-color);
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
}

@media screen and (max-width: 575px) {
    .container-succesfully-added {
        font-size: 0.6rem;
    }

    .content-succesfully-added svg {
        font-size: 6em;
    }

    .container-succesfully-added a {
        font-size: 0.8rem;
    }
}
