.container-sidebar {
    height: 100%;
    background-color: var(--dash-main-color);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    font-family: var(--dash-font-family);
    color: white;
}

.img-container-sidebar {
    width: 190px;
    height: 144px;
    padding: 20px 10px 0 10px;
}

.img-container-sidebar img {
    height: 100%;
    width: 100%;
}

nav.nav-sidebar {
    margin-top: 32px;
}

.parent-sidebar li{
    position: relative;
    padding: 17px 15px 17px 24px;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

nav.nav-sidebar ul li:nth-child(4){
    margin-top: 90%;
}
