.container-sidebar {
    height: 100%;
    background-color: var(--dash-main-color);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    font-family: var(--dash-font-family);
    color: white;
}

.img-container-sidebar {
    width: 190px;
    height: 144px;
    padding: 20px 10px 0 10px;
}

.img-container-sidebar img {
    height: 100%;
    width: 100%;
}

nav.nav-sidebar {
    margin-top: 32px;
}

nav.nav-sidebar ul li {
    position: relative;
    padding: 17px 15px 17px 50px;
    list-style: none;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 1.5rem;
}

.link-sidebar {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.icon-sidebar {
    position: absolute;
    left: 16px;
    font-size: 1.2rem;
}

.margin-sidebar {
    margin-top: 120%;
}

.active-sidebar {
    position: relative;
    background: linear-gradient(145deg,
            rgb(248, 247, 247) 0%,
            rgb(241, 241, 243) 120%);
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    color: rgb(73, 73, 204);
}

/* -- Makes inner radius for the navigation li */
.active-sidebar::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 100%;
    transform: translateX(-100%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-box-shadow: 14px -14px 0px -5px rgb(248, 247, 247);
    box-shadow: 14px -14px 0px -8px rgb(248, 247, 247);
    pointer-events: none;
}

.active-sidebar::before {
    content: '';
    position: absolute;
    top: -54px;
    left: 100%;
    transform: translateX(-100%);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: transparent;
    -webkit-box-shadow: 14px -14px 0px -8px rgb(248, 247, 247);
    box-shadow: 14px 14px 0px -8px rgb(248, 247, 247);
    pointer-events: none;
}

.focus-sidebar {
    color: rgb(73, 73, 204);
}